html {
  background-image: url("http://img.lum.dolimg.com/v1/images/chewie-db_2c0efea2.jpeg")
}

h1 {
  font-family: 'Star Jedi', sans-serif;
  color: #FFE81F;
  font-size: 75px;
  text-align: center;
  top: 25%;
  left: 25%;
  margin-top: -10px;
  margin-left: 95px;
}

.container {
  width:600px;
		height:600px;
		position: fixed;
		top: 35%;
		left: 40%;
		margin-top: -100px;
		margin-left: -100px;

}


div {
    width: 200px;
    height: 200px;
    outline: 1px solid;
    color: #FFE81F;
    float: left;
}
